---
layout: no_header
---

<div class="background section no-pad-box index-banner">
  <div class="container">
    <div class="row">
      <h4 class="review-subtitle white-text left" id="issue-title">Fall 2015</h4>
    </div>
    <div class="valign-wrapper center">
      <div class="valign center" id="title-info">
        <h1 class="review-title white-text" id="site-title">RUCS</h1>
        <h4 class="review-subtitle white-text">Review of Undergraduate</br> Computer Science</h4><br>
      </div>
    </div>
    <a href="#" class="waves-effect waves-light btn bottom" id="enter-button"><i class="medium material-icons white-text center" id="down-arrow">keyboard_arrow_down</i></a>
  </div>
</div>

<a name="table-of-contents"></a>
<div class="full-height container valign-wrapper" id="table_of_contents" >
  <div class="section valign full-width">
      {% include table_of_contents.html %}
    </div>
  </div>
</div>

<a name="foreword"></a>
<div class="grey lighten-4">
  <div class="full-height container valign-wrapper">
    <div class="section valign">
      {% include foreword.html %}
    </div>
  </div>
</div>