---
layout: no_header
---

<div class="background">

  {% include header.html %}
  
  <div class="section no-pad-box" id="index-banner">
    <div class="container">
      <br><br><br><br><br><br><br>
      <h1 class="review-title center white-text" id="site-title">RUCS</h1>
      <div class="row center">
        <h4 class="review-subtitle white-text">Review of Undergraduate</br> Computer Science</h4>
      </div>
      <div class="row center">
        <a class="waves-effect waves-light btn-large" id="enter-button">Enter</a>
      </div>
    </div>
  </div>
</div>

<a name="table-of-contents"></a>
<div class="full-height container valign-wrapper" id="table_of_contents" >
  <div class="section valign">
      {% include table_of_contents.html %}
    </div>
  </div>
</div>

<div class="parallax-container" style="height: 200px;">
  <div class="parallax"><img src='{{ site.baseurl }}/resources/backgroundweb.svg'></div>
</div>

<a name="foreword"></a>
<div class="full-height container valign-wrapper">
  <div class="section valign">
    {% include foreword.html %}
  </div>
</div> 

<div class="parallax-container" style="height: 200px;">
  <div class="parallax"><img src='{{ site.baseurl }}/resources/backgroundweb.svg'></div>
</div>

<a name="acknowledgements"></a>
<div class="full-height container valign-wrapper">
  <div class="section valign">
    {% include acknowledgements.html %}
  </div>
</div> 
