---
layout: no_header
---

<div class="background">
  <div class="section no-pad-box" id="index-banner">
    <div class="container" id="index-container">
      <h1 class="review-title center white-text" id="site-title">RUCS</h1>
      <h4 class="review-subtitle white-text center">Review of Undergraduate</br> Computer Science</h4>
      <i class="material-icons white-text center" id="down-arrow">keyboard_arrow_down</i>
    </div>
  </div>
</div>

<a name="table-of-contents"></a>
<div class="full-height container valign-wrapper" id="table_of_contents" >
  <div class="section valign full-width">
      {% include table_of_contents.html %}
    </div>
  </div>
</div>

<a name="foreword"></a>
<div class="grey lighten-2">
<div class="full-height container valign-wrapper">
  <div class="section valign">
    {% include foreword.html %}
  </div>
</div>
</div>