/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import 'materialize';

@font-face {
	font-family: 'Code Pro Demo';
	src: url('../font/code-pro-demo/Code_Pro_Demo.otf') format('opentype');
}

@font-face {
	font-family: 'CMU Serif';
	src: url('../font/cmu-serif/cmunrm.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CMU Serif';
	src: url('../font/cmu-serif/cmunti.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'CMU Serif';
	src: url('../font/cmu-serif/cmunbx.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'CMU Serif';
	src: url('../font/cmu-serif/cmunbi.ttf');
	font-weight: bold;
	font-style: italic;
}

$web-title: "Code Pro Demo";
$post-font: "CMU Serif";
$background: url("../resources/backgroundweb.svg");
$toc-height: 542px;

html * {
	font-family: $post-font;
}

img, figure {
	max-width: 100%;
}

figcaption {
	font-size: 1rem;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.full-height {
	min-height: 100vh;
}

.marginless-collection .collection-item {
	border-bottom: 0;
	border-right: 4px solid white;
	margin-right: 2px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.chapter-active {
	border-left: 4px solid $primary-color-dark !important;
}

.background {
	@extend .full-height;
	background: $background;
	background-size: cover;
	width: 100%;
}

.header-background {
	background: $background;
	background-position: center;
}

.height-90 {
	height: 90vh;
}

.height-100 {
	height: 100%;
}

.review-subtitle {
	font-family: $web-title;
	letter-spacing: 0.2em;
	line-height: 2em;
}

.footer-bg-image {
	background: $background;
	background-size: cover;
}

.padless {
	padding: 0 !important;
}

@media #{$large-and-up} {
    // styles for large screens and up
    .card {
	    // -webkit-box-shadow:inset 0px 0px 0px 4px white;
	    // -moz-box-shadow:inset 0px 0px 0px 4px white;
	    // box-shadow:inset 0px 0px 0px 4px white;
	    box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 0;
		width: 45%;
		height: 45%;
		overflow: scroll;
		margin: 0.5rem !important;
		background-color: $primary-color;
	}

	.post-container {
		width: 50%;
		padding: 20px;
	}
}

@media#{$medium-and-down} {
	// styles for medium screens and down
	.card {
	    box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 0;
		width: 100%;
		background-color: $primary-color;
	}

	.post-container {
		width: 70%;
		padding: 20px;
	}
}

@media#{$medium-and-up} {
	.height-fix, #toc-content, #toc-content-wrapper {
	max-height: $toc-height !important;
	height: $toc-height;
	overflow: hidden !important;
	}

	h1 {
		font-size: 2.92rem;
		}

	h2 {
		font-size: 2.28rem;
	}
	h3 {
	  	font-size: 1.64rem; }

	h4 {
		font-size: 1.4rem; }

	h5 {
		font-size: 1rem; }

	h6 {
		font-size: 1rem; }

	.review-title {
	font-size: 10em;
	font-family: $web-title;
	}
}

@media#{$small-and-down} {
	.collapsible-toc {
		height: 100%;
		min-width: 100%;
	}
	.title {
		font-weight: bold;
		font-size: 1.5em;
		color: white;
		line-height: 2rem;
	}
	.author {
		color: white;
	}
	.preview {
		color: white;
	}

	h1 { font-size: 2.28rem; }
	h2 { font-size: 1.64rem; }
	h3 { font-size: 1.5rem; }
	h4 { font-size: 1.4rem; }
	h5 { font-size: 1rem; }
	h6 { font-size: 1rem; }

	.post-container {
		width: 90%;
	}

	.review-title {
	font-size: 8em;
	font-family: $web-title;
	}
}

.marginless-card-panel {
	padding: 20px;
	background-color: $primary-color;
	border-radius: 0;
}

.card-content {
	.card-title {
		font-weight: bold;
		font-size: 1.5em;
		color: white;
		line-height: 1.5rem !important;
	}
	.card-author {
		color: white;
	}
	.preview {
		color: white;
	}
	height: 100%;
}

.marginless-card {
	margin: 0 !important;
	box-shadow: 0 !important;
}

.marginless-collection {
	margin: 0 !important;
	border: 0;
	height: $toc-height;
	background-color: white;
	border-radius: 0;
	overflow: scroll !important;
}

.marginless-col {
	margin: 0 !important;
	padding: 0 !important;
}

.marginless-row {
	@extend .row;
	margin: 0 !important;
	padding: 0 !important;
}

.post-header {
	margin: 5rem 0 0 0;
	text-align: center;
}

.post-title {
	@extend h1;
	font-family: $post-font;
	font-size: 3.56rem;
}

.post-meta {
	@extend .post-title;
	font-size: 1.1em;
}

.post-content {
	font-family: $post-font;
	font-size: 1.1em;
}

.no-shadow {
	box-shadow: 0 !important;
}

.brand-logo {
	font-family: $web-title;
}

.toc-title{
	color: $primary-color-dark;
	text-transform: capitalize;
	font-weight: bold;
}

.toc-enum {
	color: $primary-color-dark;
	font-weight: 300;
}

.toc-content {
	height: 100%;
	width: 100%;
}

.toc-chapter-content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
}

// .height-fix, #toc-content, #toc-content-wrapper {
// 	max-height: $toc-height !important;
// 	height: $toc-height;
// 	overflow: hidden !important;
// }

.parallax-container {
	height: 200px !important;
}

.toc-chapter-content {
	position: relative;
}

.page-footer {
	background: $background;
}

.full-width {
	min-width: 100%;
}


#title-info {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: space-around;
// 	padding: auto;
    margin: 0 auto;
}

.bottom {
	position: absolute;
	bottom: 0;
	width: inherit;
	margin: 0 auto 5% auto;
}

.page-footer {
	margin: 0px !important;
	min-height: 100px;
	padding: 30px 0 30px 0 !important;
}

.collapsible-header {
	border-bottom: 0 !important;
	border-top: 1px solid #ddd;
}

.collapsible-body {
	border: 0 !important;
	padding: 0px 10px;
}

.transparent-section {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

.review-subtitle-container {
	position: absolute;
	bottom: 25%;
	width: inherit;
	margin: auto;
}