@import '../style';

table {

	tr {
		border: 0px !important;

		td {
			text-align: left !important;
			width: 50%;
			padding: 15px 10px 15px 10px;
		}

		td:first-child {
			font-weight: bold;
			text-align: right !important;
			vertical-align: top;
		}
	}
}

h1 {
	margin-top: auto !important;
}
.masthead-title {
	margin-bottom: 0em;
}

.valign, .valign-wrapper {
	width: 100%;
}