---
layout: default
---
<div class="container post-container">
<br>
<a href="{{ site.baseurl }}/#table-of-contents" class="waves-effect waves-cyan btn-large cyan darken-2"><i class="material-icons white-text">keyboard_arrow_left</i></a>
  <header class="post-header">
    <span class="post-title">{{ page.title }}</span>
    <p class="post-meta">{% if page.author %}{{ page.author }}{% endif %}{% if page.supervisors %}<br>under the supervision of {{ page.supervisors }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>


<a href="{{ site.baseurl }}/#table-of-contents" class="waves-effect waves-cyan btn-large cyan darken-2"><i class="material-icons white-text">keyboard_arrow_left</i></a>
</div>